$delay: 0.25s;
$duration: 0.3s;
$anim-func: cubic-bezier(.1,.73,.18,.98);

.TimeTracker {
    display: inline-block;
    width: 20em;
    font-family: $font-family;
    transform-origin: top right;
    box-shadow: 0 0 90px rgba(0,0,0,.08) inset;
    transition: all $duration $anim-func 0s, box-shadow $duration ($delay + .2s);

    &--minimised {
        overflow: hidden;
        transform: scale(.7);
        box-shadow: none;
        width: 10em;
        padding: 0.5em 0.2em;
        transition: all 0.2s $anim-func $delay, box-shadow 0.01s step-end 0s;

        .TimeTracker-fields {
            transform: translateY(-100%);
            opacity: 0;
            transition: transform $duration $anim-func 0s, opacity ($duration / 2) $anim-func ($duration / 4);
        }

        .TimeTracker-timer {
            padding: 0.2em 1em;
        }
    }
}

.TimeTracker-fields {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: transform $duration $anim-func $delay, opacity ($duration / 2) $anim-func ($delay + .1s);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
@keyframes blink {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.TimeTracker-timer {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    padding: 1em 2em;
    background-color: $c-blue;
    color: $c-white;
    transition: 0.2s ease-out;
    transform-origin: top left;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    user-select: none;

    &::before {
        content: " ";
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        background-color: $c-white;
        border-radius: 50%;
        margin-right: 0.3em;
        position: relative;
        top: -.054em;
        background-color: $c-light-blue;
        transition: 0.1s ease-out;
    }

    &--recording::before {
        background-color: $c-red;
    }
}

.TimeTracker-timer-time {
    display: inline-block;
    text-align: left;
    margin: auto 0;
}

.TimeTracker-deliverables,
.TimeTracker-projects {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding: 0 0.5em 1em;

    &:first-child {
        padding-top: 1em;
    }

    .Select {
        width: 100%;
    }
}

.TimeTracker-sideButtons {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.6em;
    align-items: center;

    * {
        padding: 0.5rem;
        margin: 0 0 0 0.5em;
    }
}

.TimeTracker-start-stop {
    &,
    &:active:focus,
    &:focus,
    &:hover {
        outline: 0;
    }
}

.TimeTracker-RecordingRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #eee;
    border-top-width: 0;
    padding: 0.4em 1em;

    .TimeTracker-RecordingRow-start-stop {
        margin: auto 1em auto auto;
        font-size: 0.6em;
        padding: 0.5em;
    }

    .TimeTracker-timer-time {
        font-size: 1.5em;

        &:before {
            display: none;
        }
    }
}

.TimeTracker-RecordingRow-names {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.TimeTracker-RecordingRow-deliverableName,
.TimeTracker-RecordingRow-projectName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.TimeTracker-RecordingRow-deliverableName {
    font-weight: bold;
}
